.container {
  background-image: linear-gradient(
    to bottom,
    $color-primary-1,
    $color-primary-2
  );
  max-width: 100vw;
  min-height: 100vh;

  .header {
    padding: 1rem;
    margin-bottom: 1rem;
  }

  .box {
    position: relative;
    margin: 0 auto;
    width: 90%;
    max-width: 650px;
    background-image: linear-gradient(
      to bottom,
      $color-secondary-1,
      $color-secondary-2
    );
    border: 3px solid $color-font-primary;
    box-shadow: 0 0 3rem $color-font-primary;
    padding: 2rem 4rem;
    text-align: center;
  }

  &.correct {
    background-image: linear-gradient(
      to bottom,
      $color-correct-1,
      $color-correct-2
    );
  }

  &.wrong {
    background-image: linear-gradient(to top, $color-wrong-1, $color-wrong-2);
  }
}
