.settings {
  display: grid;
  row-gap: 1rem;

  &__category {
    width: 80%;
    font-size: 1.8rem;
  }

  &__row {
    & label {
      margin-right: 1rem;
    }

    &:not(:last-of-type) {
      border-bottom: 1px dotted $color-font-primary;
      padding-bottom: 1rem;
    }
  }

  &.hidden {
    display: none;
  }

  &__start {
    justify-self: center;
  }
}
